/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
 @import 'font-awesome/scss/font-awesome';

* {
	text-decoration: none;
	list-style: none;
}
body {
	padding-top: 70px;
	font-family: "Open Sans", Arial, sans-serif;
}
.main-wrapper {
	background-color: #fafafa;
	min-height: 100vh;
}
a {
	color: #000;
	&:hover {
		color: #000;
		text-decoration: none;
		h4 {
			color: #15a1ff;
		}
		img {
			opacity: 0.7;
		}
	}
}

.navbar-fixed-top {
	background-color: #333333;
	height: 70px;
	border: none;
}
.navbar-header {
	padding-left: 20px;

}
.navbar-default .navbar-brand {
	color: #fafafa;
	font-family: 'Oswald', sans-serif;
	&:hover {
		color: #fafafa;
		cursor: pointer;
	}

}
.navbar-default .navbar-nav > li > a {
	color: #fafafa;
	&:hover {
		color: #15a1ff;
		cursor: pointer;
	}
}

nav {
	.navbar-brand {font-size: 35px;}
	.navbar-toggle {margin: 13px 20px 13px 0;}
	a {font-size: 18px;
		padding-bottom: 20px !important;
		padding-top: 20px !important;
		transition: all 0.4s ease;
	}
}
.shrink {
	min-height: 35px;
	.navbar-brand {font-size: 25px;}
	.navbar-toggle {margin: 8px 15px 8px 0;
					padding: 4px 5px;
				}
	height: 40px;
	a {font-size: 15px;
		padding-bottom: 10px !important;
		padding-top: 10px !important;
	}
}



.landing-image {
	background-image: url('../images/hero-min.jpeg');
	width: 100%;
	color: #fafafa;
	background-size: cover;
	//margin-top: 70px;
	height: 100vh;
	h1 {
		font-weight: 800;
		text-align: center;
		align-items: center;
		margin-top: 0;
		font-size: 140px;
	}
	a {
		color: #fafafa;
		padding: 10px;
		cursor: pointer;
		font-weight: 600;
	}
	ul {
		padding: 40px;
		display: flex;
		justify-content: space-around;
	}
}
.main-nav {
	margin-bottom: auto;
}

.article-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	overflow: hidden;
	//width: calc((100%-60px)/3);
	margin-right: 120px;
	margin-left: 120px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
 h2 {
	font-weight: 700;
	color: #15a1ff;
	text-align: center;
}


.article1, .article2, .article3, .article4, .article5, .article6 {
	text-align: left;
	width: 325px;
	color: #11191d;
	padding: 20px;
	margin-top: 20px;
	&:hover {
		a {
		cursor: pointer;
		}
	}
}
img {
	max-height: 190px;
	width: 290px;
}
.mid-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	//width: 100%;
	margin-left: 120px;
	margin-right: 120px;

}
.about-me {
	display: inline-block;
	width: 45%;
}
.about-me ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	//margin-left: 120px;
	padding: 0;

}
.about-me li {
	max-width: 300px;
	padding-top: 25px;
}
.about-me img {
	box-shadow: 0 5px 5px -3px #666666;
	width: 140px;
	height: 290px;

}
.newsletter {
	float: left;
	max-width: 50%;
	margin-left: 120px;
	display: inline-block;
	background-color: #11191d;
	padding: 45px;
	box-shadow: 0 5px 5px -3px #666666;
}
.newsletter button {
	background-color: #15a1ff;
	border-radius: 5px;
	color: #fff;
	border: none;
	outline: none;
	margin: 15px;
	font-weight: 500;
	cursor: pointer;
}
.newsletter input {
	outline: none;
	margin: 15px;
	width: 170px;
}
.newsletter h4 {
	text-align: center;
	color: #fff;
	font-weight: 700;
}
.bottom-wrapper {
	display: flex;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
	margin-right: 120px;
	margin-left: 120px;
	padding-top: 20px;
	border-top: 1px solid #333;
	max-height: 450px;
}
.archive-list h2 {
	font-weight: 700;
	color: #15a1ff;
}
.archive-list ul {
	padding-left: 10px;
}
.container {
	width: 400px;
	padding-bottom: 15px;
	margin: 100px;
}

.media-links {
	display: flex;
	justify-content: center;
	font-size: 25px;
	i.fa {
		cursor: pointer;
		&:hover {
		color: #15a1ff;
		}
	}
}

footer {
	background-color: #333333;
	color: #ededed;
	text-align: center;
	height: 45px;
	padding-top: 10px;
}
footer span {
	padding-left: 8px;
}










